#ios7statusbar
{
    width:100%;
    height:20px;
    background-color: #357EC7;
    position:fixed;
    z-index:100;
}

.ios7 .ui-page
{
    margin-top: 20px;
}

/* Different home screen backgrounds for iPhone 4 and iPhone 5+ */

	#home-page {
		background-image:url(../img/app_home_5.png);
		background-size: cover;
	}

/* iPhone 3 portrait */
@media (device-height: 480px) and (-webkit-max-device-pixel-ratio: 1) and (orientation:portrait) {
	#home-page {
		background-image:url(../img/app_home_4.png);
		background-size: cover;
	}
}

/* iPhone 4 retina portrait */
@media (device-height: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation:portrait) {
	#home-page {
		background-image:url(../img/app_home_4.png);
		background-size: cover;
	}
}

/* iPhone 5 or iPod Touch 5th generation, portrait */
@media (device-height: 568px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation:portrait) {
	#home-page {
		background-image:url(../img/app_home_5.png);
		background-size: cover;
	}
}

#home-page .icon-container {
	padding-top: 120px;
	text-align: center;
	font-size: 14px;
	margin: 0 auto;
}

#home-page .home-icon {
	width: 90%;/*55px*/
	height: auto;/*55px*/
}

a, div{
	font-family:"微軟正黑體";
}

#sbs td{
	font-size:13px;
}

.ui-datepicker {
  margin-left: -20px;
  z-index: 3000;
}

#schoolbus-map{
  height: 300px;
  width: 100%;
}
